/target/
/src/main/resources/import.sql
/src/test/resources/import.sql
.DS_Store
.classpath
.project
.npmrc
.settings/
/src/main/java/META-INF/
/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.patch
