<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="wooden" class="ufm.cis.jayani.di.WoodenDoor"/>
    <bean id="glass" class="ufm.cis.jayani.di.GlassDoor"/>

    <bean id="house" class="ufm.cis.jayani.di.HouseImpl">
        <constructor-arg ref="wooden"/>
    </bean>
</beans>